/********************
Font Face 
********************/
/*
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: fallback;
    src: local('Pretendard Bold'), url('font/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: bold;
    font-display: fallback;
    src: local('Pretendard Bold'), url('font/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: fallback;
    src: local('Pretendard Medium'), url('font/Pretendard-Medium.woff2') format('woff2');
} */

/********************
Reset
********************/
/* CSS reset with box-sizing fix */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
small,
strong,
sub,
sup,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
section,
summary,
input,
button,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    word-break: keep-all;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.5;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    color: #1c073c;
    letter-spacing: -0.07rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

ol,
ul,
li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
    overflow-y: hidden;
}

em {
    font-style: normal;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    -webkit-highlight: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: left;
    border-radius: 0;
    letter-spacing: 0;
}

input::-webkit-input-placeholder,
input::placeholder {
    letter-spacing: 0;
    color: #babac4;
}

button {
    background: 0;
    -webkit-appearance: none;
    outline: none;
    color: inherit;
}

p,
li,
dt,
dd,
strong {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}

/*******
* common
******/
.clear {
    clear: both;
}

.disabled {
    pointer-events: none !important;
}

.hidden {
    display: none !important;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.wrap {
    background: #fff;
}

.app-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #fff;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.8rem;
    height: calc(6.0rem + constant(safe-area-inset-top));
    height: calc(4.8rem + env(safe-area-inset-top));
    padding: 0;
    padding: calc(constant(safe-area-inset-top)) 0 0;
    padding: calc(env(safe-area-inset-top)) 0 0;
}

.app-header .header-tit {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.44;
}

.app-header .header-btn {
    position: absolute;
    top: 90%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
}

.app-header .header-btn.left-sec {
    left: 2.0rem;
}

.app-header .header-btn.right-sec {
    right: 2.0rem;
    display: table;
}

.app-header .header-btn.right-sec .ibtn+.ibtn {
    margin-left: 2.0rem;
}

button {
    background: 0;
    -webkit-appearance: none;
    outline: none;
    color: inherit;
}

/* Container */
.app-contents {
    position: relative;
    z-index: 1;
    padding-top: 4.8rem;
    padding-top: calc(4.8rem + constant(safe-area-inset-top));
    padding-top: calc(4.8rem + env(safe-area-inset-top));
    padding-bottom: calc(11.2rem + 2.8rem);
    padding-bottom: calc(11.2rem + 2.8rem + constant(safe-area-inset-bottom));
    padding-bottom: calc(11.2rem + 2.8rem + env(safe-area-inset-bottom));
}

.app-contents::-webkit-scrollbar {
    background: transparent !important;
    height: 0 !important;
    width: 0;
    display: none;
}

body::-webkit-scrollbar {
    background: transparent !important;
    height: 0 !important;
    width: 0 !important;
    display: none;
}

.no-footer {
    padding-bottom: 4.0rem;
    padding-bottom: calc(4.0rem + constant(safe-area-inset-bottom));
    padding-bottom: calc(4.0rem + env(safe-area-inset-bottom));
}

.container {
    position: relative;
    padding: 0 2.0rem;
    background-color: #fff;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.content-top {
    position: relative;
    padding-top: 4.0rem;
}

.content-main {
    position: relative;
    padding-top: 1.5rem;
}

.content-top+.content-main {
    padding-top: 4.8rem;
}

.no-header {
    padding-top: 0;
}

.content-main .txt-h1 {
    position: relative;
}

.content-main .complete-top {
    margin-top: 0;
}