.ibtn {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    font-size: 0;
    text-indent: -9999px;
}

.icon-profile {
    background-color: #FFEDAC;
    background-image: url(../images/icon/icon-profile-man@2x.png);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
}

/******************** 
	Components
********************/

.txt-h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.42;
    padding: 0 0.4rem;
}

.txt-h2 {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 0.4rem;
}

.txt-h3 {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.4;
    padding: 0 0.4rem;
}

.txt-h3-gray {
    font-size: 2.0rem;
    color: #6d7278;
    letter-spacing: -0.1rem;
}

.txt-h4 {
    font-size: 1.8rem;
}

.txt-h4-bold {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.44;
}

.txt-h1 span {
    line-height: 1.42;
}

/* Text Style */
.txt01 {
    color: #F1EAF5;
    font-size: 1.6rem
}

.txt02 {
    font-size: 1.4rem
}

.txt03 {
    color: #F1EAF5;
    font-size: 1.4rem
}


.mission-card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    flex-wrap: wrap;
}

.mission-card li {
    position: relative;
    width: calc(50% - 0.8rem);
    height: 13rem;
    flex-shrink: 0;
    border-radius: 2.0rem;
    box-shadow: 0 0.4rem 2.3rem 0 rgba(52, 5, 121, 0.11);
    margin-bottom: 2.0rem;
    padding: 2.0rem 1.6rem;

    text-align: center;
}

.mission-card li.yellow {
    background: linear-gradient(177.12deg, #FFEDAC 50.84%, rgba(255, 237, 172, 0) 97.61%);
}

.mission-card li.purple {
    background: linear-gradient(179.31deg, #38144D 27.49%, rgba(57, 21, 78, 0.27) 99.4%);
}

.mission-card li.yellow {
    background: linear-gradient(177.12deg, #FFEDAC 50.84%, rgba(255, 237, 172, 0) 97.61%);
}


.mission-card li p.yellow {
    color: #A3790E;
}

.mission-card li p.purple {
    color: #fff;
}

.mission-card li img {
    position: relative;
    width: 7.4rem;
    height: 7.4rem;
    overflow: hidden;
    margin-right: inherit;
}

.mission-card .import-btn {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    text-align: center;
}


.mission-card .import-btn.disabled {
    box-shadow: none;
}

.mission-card .import-btn.disabled:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f8;
    border-radius: 2.0rem;
}

.mission-card .import-btn.disabled:before {
    position: absolute;
    content: '더 이상 미션을\a추가할 수없어요';
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
    color: #bab4c4;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    white-space: pre;
    /*padding-bottom: 6.8rem;
    background-image: url(../images/icon/img-60-add-disable@2x.png);
    background-repeat: no-repeat;
    background-size: 6.0rem 6.0rem;
    background-position: bottom center;*/
}